
<div class="position-relative">
  <input type="text" class="form-control" placeholder="Search users..."
         [(ngModel)]="searchTerm" (input)="onSearchChange()">

  <ul *ngIf="results.length" class="list-group position-absolute w-100" style="z-index: 1000;">
    <li *ngFor="let user of results" class="list-group-item list-group-item-action"
        (click)="goToProfile(user.userName)">
      <img *ngIf="user.imageUrl" [src]="user.imageUrl | fullImageUrl" class="rounded-circle" width="30" height="30">
      {{ user.userName }}
    </li>
  </ul>
</div>
